<div class="container">
  <div class="jumbotron">
    <img src="/assets/image/burger.png" class="img-responsive">
  <br>
  <br>
  <h1>Eat-Da-Vegan-Burger!</h1>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="created"><strong>
            <h2>Burgers created!</h2>
          </strong></div>
        <div class="panel-body">
          <ul>
            {{#each burgers}}
            {{#unless dataValues.devoured}}
            {{dataValues.burger_name}}
            <input type="text" id="customer{{data-values.id}}"></input>
            <button class="change-devoured" data-id="{{dataValues.id}}" data-newdevoured="{{dataValues.devoured}}">Devour it!</button>
            <hr>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="devoured"><strong>
            <h2>Burgers devoured!</h2>
          </strong>
        </div>
        <div class="panel-body">
          <ul>
            {{#each burgers}}
            {{#if dataValues.devoured}}
            {{dataValues.burger_name}}
            {{#each customers}}
            {{customer_name}}
            {{/each}}
            <button class="delete-burger" data-id="{{dataValues.id}}">Delete!</button>
            <hr>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {{!-- <form action="/api/burgers" method="POST"> --}}
  <form>
    <div class="form-group">
      <input type="text" id="bu"></input>
    </div>
    <button type="submit" class="addBurger">Submit</button>
    <h2>Add a burger you want to eat then click "Submit" button</h2>
  </form>
</div>